{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="row dashboard-header">
     
 <div class="col-lg-16 ">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Change new student class</h5>
         <div class="table-responsive">
         <table class="table table-bordered">
           <thead>
             <tr>
               <th scope="col">#</th>
               <th scope="col">a</th>
               <th scope="col">b</th>
               <th scope="col">c</th>
               <th scope="col">d</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row">1</th>
               <td><a href="{% url 'create1a'%}">1a</a></td>
               <td><a href="{% url 'create1b'%}">1b</a></td>
               <td><a href="{% url 'create1d'%}">1d</a></td>
               <td><a href="{% url 'create1f'%}">1f</a></td>
             </tr>
             <tr>
               <th scope="row">2</th>
               <td><a href="{% url 'create2a'%}">2a</a></td>
               <td><a href="{% url 'create2b'%}">2b</a></td>
               <td><a href="{% url 'create2d'%}">2d</a></td>
               <td><a href="{% url 'create2f'%}">2f</a></td>
             </tr>
             <tr>
               <th scope="row">3</th>
               <td><a href="{% url 'create3a'%}">3a</a></td>
               <td><a href="{% url 'create3b'%}">3b</a></td>
               <td><a href="{% url 'create3d'%}">3d</a></td>
               <td><a href="{% url 'create3f'%}">3f</a></td>
             </tr>
             <tr>
               <th scope="row">4</th>
               <td><a href="{% url 'create4a'%}">4a</a></td>
               <td><a href="{% url 'create4b'%}">4b</a></td>
               <td><a href="{% url 'create4d'%}">4d</a></td>
               <td><a href="{% url 'create4f'%}">4f</a></td>
             </tr>
             <tr>
               <th scope="row">5</th>
               <td><a href="{% url 'create5a'%}">5a</a></td>
               <td><a href="{% url 'create5b'%}">5b</a></td>
               <td><a href="{% url 'create5d'%}">5d</a></td>
               <td><a href="{% url 'create5f'%}">5f</a></td>
             </tr>
             <tr>
               <th scope="row">6</th>
               <td><a href="{% url 'create6a'%}">6a</a></td>
               <td><a href="{% url 'create6b'%}">6b</a></td>
               <td><a href="{% url 'create6d'%}">6d</a></td>
               <td><a href="{% url 'create6f'%}">6f</a></td>
             </tr>
             <tr>
               <th scope="row">7</th>
               <td><a href="{% url 'create7a'%}">7a</a></td>
               <td><a href="{% url 'create7b'%}">7b</a></td>
               <td><a href="{% url 'create7d'%}">7d</a></td>
               <td><a href="{% url 'create7f'%}">7f</a></td>
             </tr>
             <tr>
               <th scope="row">8</th>
               <td><a href="{% url 'create8a'%}">8a</a></td>
               <td><a href="{% url 'create8b'%}">8b</a></td>
               <td><a href="{% url 'create8d'%}">8d</a></td>
               <td><a href="{% url 'create8f'%}">8f</a></td>
             </tr>
             <tr>
               <th scope="row">9</th>
               <td><a href="{% url 'create9a'%}">9a</a></td>
               <td><a href="{% url 'create9b'%}">9b</a></td>
               <td><a href="{% url 'create9d'%}">9d</a></td>
               <td><a href="{% url 'create9f'%}">9f</a></td>
             </tr>
             <tr>
               <th scope="row">10</th>
               <td><a href="{% url 'create10a'%}">10a</a></td>
               <td><a href="{% url 'create10b'%}">10b</a></td>
               <td><a href="{% url 'create10d'%}">10d</a></td>
             </tr>
             <tr>
               <th scope="row">11</th>
               <td><a href="{% url 'create11a'%}">11a</a></td>
               <td><a href="{% url 'create11b'%}">11b</a></td>
               <td><a href="{% url 'create11d'%}">11d</a></td>
             </tr>
           </tbody>
         </table>
       </div>
       </div>
     </div>
 </div>
 
  {% endblock %} 