{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="row dashboard-header">

     
 <div class="col-lg-12 ">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Change new student class</h5>
         <div class="table-responsive">
         <table class="table table-bordered">
           <thead>
             <tr>
               <th scope="col">#</th>
               <th scope="col">a</th>
               <th scope="col">b</th>
               <th scope="col">c</th>
               <th scope="col">d</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row">1</th>
               <td><a href="{% url 'student-1A-t'%}">1a</a></td>
               <td><a href="{% url 'student-1B-t'%}">1b</a></td>
               <td><a href="{% url 'student-1D-t'%}">1d</a></td>
               <td><a href="{% url 'student-1F-t'%}">1f</a></td>
             </tr>
             <tr>
               <th scope="row">2</th>
               <td><a href="{% url 'student-2A-t'%}">2a</a></td>
               <td><a href="{% url 'student-2B-t'%}">2b</a></td>
               <td><a href="{% url 'student-2D-t'%}">2d</a></td>
               <td><a href="{% url 'student-2F-t'%}">2f</a></td>
             </tr>
             <tr>
               <th scope="row">3</th>
               <td><a href="{% url 'student-3A-t'%}">3a</a></td>
               <td><a href="{% url 'student-3B-t'%}">3b</a></td>
               <td><a href="{% url 'student-3D-t'%}">3d</a></td>
               <td><a href="{% url 'student-3F-t'%}">3f</a></td>
             </tr>
             <tr>
               <th scope="row">4</th>
               <td><a href="{% url 'student-4A-t'%}">4a</a></td>
               <td><a href="{% url 'student-4B-t'%}">4b</a></td>
               <td><a href="{% url 'student-4D-t'%}">4d</a></td>
               <td><a href="{% url 'student-4F-t'%}">4f</a></td>
             </tr>
             <tr>
               <th scope="row">5</th>
               <td><a href="{% url 'student-5A-t'%}">5a</a></td>
               <td><a href="{% url 'student-5B-t'%}">5b</a></td>
               <td><a href="{% url 'student-5D-t'%}">5d</a></td>
               <td><a href="{% url 'student-5F-t'%}">5f</a></td>
             </tr>
             <tr>
               <th scope="row">6</th>
               <td><a href="{% url 'student-6A-t'%}">6a</a></td>
               <td><a href="{% url 'student-6B-t'%}">6b</a></td>
               <td><a href="{% url 'student-6D-t'%}">6d</a></td>
               <td><a href="{% url 'student-6F-t'%}">6f</a></td>
             </tr>
             <tr>
               <th scope="row">7</th>
               <td><a href="{% url 'student-7A-t'%}">7a</a></td>
               <td><a href="{% url 'student-7B-t'%}">7b</a></td>
               <td><a href="{% url 'student-7D-t'%}">7d</a></td>
               <td><a href="{% url 'student-7F-t'%}">7f</a></td>
             </tr>
             <tr>
               <th scope="row">8</th>
               <td><a href="{% url 'student-8A-t'%}">8a</a></td>
               <td><a href="{% url 'student-8B-t'%}">8b</a></td>
               <td><a href="{% url 'student-8D-t'%}">8d</a></td>
               <td><a href="{% url 'student-8F-t'%}">8f</a></td>
             </tr>
             <tr>
               <th scope="row">9</th>
               <td><a href="{% url 'student-9A-t'%}">9a</a></td>
               <td><a href="{% url 'student-9B-t'%}">9b</a></td>
               <td><a href="{% url 'student-9D-t'%}">9d</a></td>
               <td><a href="{% url 'student-9F-t'%}">9f</a></td>
             </tr>
             <tr>
               <th scope="row">10</th>
               <td><a href="{% url 'student-10A-t'%}">10a</a></td>
               <td><a href="{% url 'student-10B-t'%}">10b</a></td>
               <td><a href="{% url 'student-10D-t'%}">10d</a></td>
             </tr>
             <tr>
               <th scope="row">11</th>
               <td><a href="{% url 'student-11A-t'%}">11a</a></td>
               <td><a href="{% url 'student-11B-t'%}">11b</a></td>
               <td><a href="{% url 'student-11D-t'%}">11d</a></td>
             </tr>
           </tbody>
         </table>
       </div>
       </div>
     </div>
 </div>
 
  {% endblock %} 